<input [(ngModel)]="search"
       typeaheadOptionField="name"
       [typeahead]="dataSoucer$"
       [typeaheadAsync]="true"
       [typeaheadWaitMs]="400"
       (typeaheadOnSelect)="onSelected($event)"
       [typeaheadItemTemplate]="itemTemplate"
       (typeaheadLoading)="loading = $event"
       [disabled]="disabled"
       class="form-control"
       placeholder="Pesquisar">

<div *ngIf="loading">Carregando</div>

<ng-template let-item="item" #itemTemplate>
    <span> {{ item.name }}, {{item.country}} </span>
</ng-template>
